
.img-container{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  z-index: 3;
  background-color: #101010;

}
.bg-img{
	position: relative;
	height: 189px;
	width: 300px;
	margin: 2px;
	filter:blur(5px) brightness(80%);
	display: inline-block;
	transition: 0.2s;
    
}
.bg-img:hover{
	filter:none;
	box-shadow:  20px 20px rgba(0, 0, 0, 0.45); 

}
.overlay-text{
	position: absolute;
	padding: 0;
	margin: 0;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;
	
}


.m-text-box{
	border: 5px solid white;
	margin-bottom: 50px;
	box-shadow:  2px 2px rgba(0, 0, 0, 0.45);
}
.m-text{
	
	
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: white;
	padding-left: 20px;
	text-align: center;
	font-weight: 800;
	font-size: 70px;
	letter-spacing: 30px;
	text-shadow: 2px 5px rgba(0, 0, 0, 0.45);
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
.gt-link{
	position: absolute;
	top: 73%;
	left: calc(50% - 120px);
	z-index: 4;
	border: 2px solid white;
	padding: 20px 30px 20px 30px;
	border-radius: 2px;
	text-decoration: none;
	color:white;
	font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 5px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.45);
    transition: 0.2s;
}
.gt-link:hover{
	box-shadow:  8px 8px 6px 0px rgba(0, 0, 0, 0.45);
}
.content-wbg0{
	-webkit-box-shadow:inset 0px 0px 0px 10px #f00;
    -moz-box-shadow:inset 0px 0px 0px 10px #f00;
    box-shadow:inset 0px 0px 13px 3px rgba(0, 0, 0, 0.95);
	background-image: url("../img/bg-3.jpg");
	background-color: rgba(0, 0, 0, 0.45);
	position: absolute;
	top:100vh;
	height: 566px;
	width: 100%; 
	z-index: 1;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.content{
	
	width:89vw;
	height: 387px;
	margin: calc(((566px - 387px)/2) - 5px)auto;
	border: 5px solid white;
	box-shadow:  2px 2px rgba(0, 0, 0, 0.45);
	
}
#sub-p-text{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 10px;
	text-shadow: 2px 1px rgba(0, 0, 0, 0.45);
}
#main-p-text{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: white;
	margin-top:30px;
	text-align: center;
	font-weight: bold;
	font-size: 26px;
	letter-spacing: 25px;
	text-shadow: 2px 1px rgba(0, 0, 0, 0.45);
}
#des-text{
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-top: 90px;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 20;
	text-shadow: 2px 1px rgba(0, 0, 0, 0.45);
}
/*second box*/
.content-nbg{
	position: absolute;
	top:calc(100vh + 566px);
	height: 377px;
	width: 100%;
	background-color: white;
}
/*arrow of video*/
.f-arrow:before{
  position: absolute;
  left: 50%;
}
.f-arrow{
  width: 40px;
  height: 40px;
  position: absolute;
  top:90%;
  left:calc(50% - 30px);
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  z-index: 4;
  }

  
.f-arrow:before{
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
  }
@keyframes arrow{
  0%
    {opacity: 0;}
  20%
    {opacity: 1;}
  100%
    {opacity: 0; transform: translate(-10px, -10px);}
}
/*arrow on the side*/
#c-arrow{
  position: fixed;
  top: 92%;
  left:97% ;
  z-index: 2;
  text-decoration: none;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  background-color: transparent;
  cursor: pointer;
  outline: none;
 
}
.left-bar {
  position: absolute;
  background-color: white;
  float: left;
  top:50%;
  left: 6px;
  width: 30px;
  height: 3px;
  display: block;
  transform: rotate(35deg);
  border-radius: 2px;
  &:after {
    content:"";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all $duration $easing;
    z-index: -1;
  }
}

.right-bar {
  position: absolute;
  background-color: white;
  float: right;
  top:50%;
  right: 6px;
  width: 30px;
  height: 3px;
  display: block;
  transform: rotate(-35deg);
  box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  &:after {
    content:"";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all $duration $easing;
    z-index: -1;
  }
}

.open {
    .left-bar:after {
    transform-origin: center center;
    transform: rotate(-70deg);
  }
  .right-bar:after {
    transform-origin: center center;
    transform: rotate(70deg);
  }

}
/*third box*/
.content-wbg1{
	top:calc(100vh + 943px);
	height: 566px;
	-webkit-box-shadow:inset 0px 0px 0px 10px #f00;
    -moz-box-shadow:inset 0px 0px 0px 10px #f00;
    box-shadow:inset 0 1px 13px 3px rgba(0, 0, 0, 0.95);

	background-image: url("../img/bg-4.jpg");
	background-color: rgba(0, 0, 0, 0.45);
	position: absolute;
	width: 100%; 
	z-index: 1;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-content{
	position: absolute;
	top:calc(100vh + 1509px);
	height: 100px;
	width: 100%;
	background-color:black;
	
}
/*text animation*/
.verticalFlip{
	display: inline;
	text-align: center;
}
.verticalFlip span{
	animation: vertical 15s linear infinite 0s;
	-ms-animation: vertical 15s linear infinite 0s;
	-webkit-animation: vertical 15s linear infinite 0s;
	
	opacity: 0;
	overflow: hidden;
	position: absolute;
	font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: white;
    width: 100%;
	
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 10px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.45);
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
.verticalFlip span:nth-child(1){
	animation-delay:5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.verticalFlip span:nth-child(2){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}




/*Vertical Flip Animation*/
@-moz-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: rotateX(90deg); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	39% { opacity: 1; -moz-transform: translateY(0px); }
	40% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0;}
}
@-webkit-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: rotateX(90deg); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	39% { opacity: 1; -webkit-transform: translateY(0px); }
	40% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: rotateX(90deg); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	39% { opacity: 1; -ms-transform: translateY(0px); }
	40% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
