body{
  margin: 0;
}
.header{
  display: inline-flex;
  height:65px;
  width: 100%;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.15);
}
.header-style{
  margin: auto 35px;
}
#a-header-style{
  text-decoration: none;
  font-size: 14px;
  color:#5f6368;
  font-family: arial;
}
#logo-header-style{
  height:35px;
  margin: 0 10px;
}
